* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

.hidden {
	position: absolute;
	top: -999999px;
	opacity: 0;
}

fieldset {
	border: none;
}

.inner {
	width: 1180px;
	margin: 0 auto;
}

@media screen and (max-width: $tablet) {
	.inner {
		width: 95%;
	}
}
