@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

$tablet: 1179px;
$mobile: 539px;

@import "sub_page.scss";
@import "news.scss";
@import "join.scss";
@import "contact.scss";
@import "about.scss";
@import "youtube.scss";
@import "gallery.scss";

@import "reset.scss";
@import "common.scss";
@import "mixin.scss";

// web
#header {
	width: 100%;
	padding: 10px 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	.inner {
		position: relative;
		h1 {
			width: 60px;
			height: 60px;
			background: #4b84db;
			text-align: center;
			a {
				display: block;
				font-size: 20px;
				line-height: 60px;
				color: #e1f9fe;
			}
		}
		.menuWeb {
			display: flex;
			position: absolute;
			top: 0;
			right: 0;
			#gnb {
				ul {
					display: flex;
					li {
						margin-left: 30px;
						line-height: 60px;
						a {
							padding: 5px;
							font-size: 16px;
							font-weight: bold;
							color: #fff;
							position: relative;
							&::after {
								content: "";
								width: 0%;
								height: 2px;
								background: #4b84db;
								position: absolute;
								top: 100%;
								left: 50%;
								transition: 0.3s;
							}
							&:hover {
								&::after {
									left: 0%;
									width: 100%;
								}
							}
						}
					}
				}
			}
			.util {
				display: flex;
				li {
					margin-left: 20px;
					line-height: 60px;
					a {
						color: #fff;
						transition: 0.3s;
						&:hover {
							color: #4b84db;
						}
					}
				}
			}
		}

		.menuMo {
			.btnCall {
				display: none;
				width: 20px;
				height: 20px;
				position: fixed;
				top: 30px;
				right: 3%;
				z-index: 3;
				span {
					display: block;
					width: 100%;
					height: 2px;
					background: #fff;
					text-indent: -99999px;
					color: transparent;
					position: absolute;
					top: 50%;
					right: 0;
					margin-top: -2px;
					transition: 0.5s;
				}
				&::before {
					content: "";
					display: block;
					width: 100%;
					height: 2px;
					background: #fff;
					position: absolute;
					top: 0;
					right: 0;
					transition: top 0.5s 0s, transform 0.5s 0.5s;
				}
				&::after {
					content: "";
					display: block;
					width: 100%;
					height: 2px;
					background: #fff;
					position: absolute;
					bottom: 0;
					right: 0;
					transition: bottom 0.5s 0s, transform 0.5s 0.5s;
				}
				&.on {
					span {
						opacity: 0;
					}
					&::before {
						top: 50%;
						margin-top: -1px;
						transform: rotate(-45deg);
					}
					&::after {
						bottom: 50%;
						margin-bottom: -1px;
						transform: rotate(45deg);
					}
				}
			}
		}
	}
	#gnbMo {
		display: none;
		position: fixed;
		top: 0;
		right: -40%;
		width: 40%;
		height: 100vh;
		padding: 80px 30px;
		background: #082f6a;
		z-index: 2;
		transition: 0.5s;
		&.on {
			right: 0;
		}
		.gnb {
			li {
				a {
					display: block;
					padding: 20px;
					border-bottom: 1px solid #3c6ab0;
					text-align: center;
					font-size: 16px;
					font-weight: bold;
					color: #fff;
					transition: 0.3s;
					&:hover {
						color: #4b84db;
					}
				}
			}
		}
		.util {
			display: flex;
			position: absolute;
			top: 14px;
			left: 3%;
			li {
				margin-left: 20px;
				line-height: 60px;
				a {
					color: #fff;
					transition: 0.3s;
					&:hover {
						color: #4b84db;
					}
				}
			}
		}
	}

	.scrollBtn {
		opacity: 0;
		position: fixed;
		right: 1%;
		top: 50%;
		transform: translateY(-50%);
		li {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-bottom: 10px;
			span {
				margin-right: 15px;
				font-size: 12px;
				color: #333;
				opacity: 0;
				transition: 0.3s;
			}
			a {
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				line-height: 20px;
				background: #ddd;
				overflow: hidden;
				transition: 0.3s;
			}
			&:hover {
				a {
					transform: scale(1.5);
				}
				span {
					opacity: 1;
				}
			}
			&.on {
				a {
					transform: scale(1.5);
					background: #333;
				}
			}
		}
	}
}

#visual {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	.slider {
		width: 100%;
		height: 100%;
		position: relative;
		ul {
			width: 400%;
			height: 100%;
			li {
				width: 25%;
				height: 100%;
				float: left;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				&:nth-of-type(1) {
					background-image: url(../img/visual1.jpg);
				}
				&:nth-of-type(2) {
					background-image: url(../img/visual2.jpg);
				}
				&:nth-of-type(3) {
					background-image: url(../img/visual3.jpg);
				}
				&:nth-of-type(4) {
					background-image: url(../img/visual4.jpg);
				}
				&::after {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.4);
				}
			}
		}
	}
	.swiper-pagination {
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			margin: 0 7px;
			background: rgba(255, 255, 255, 0.5);
			opacity: 1;
			transform: scale(1);
			&:hover {
				transform: scale(1.2);
			}
		}
		.swiper-pagination-bullet-active {
			background: #fff;
			transform: scale(1.2);
		}
	}
	.swiper-button-next {
		right: 5%;
		color: #fff;
		z-index: 1;
		transform: scale(0.8);
		transition: 0.3s;
		&:hover {
			transform: scale(1);
		}
	}
	.swiper-button-prev {
		left: 5%;
		color: #fff;
		transform: scale(0.8);
		transition: 0.5s;
		&:hover {
			transform: scale(1);
		}
	}

	// .circle {
	// 	position: absolute;
	// 	bottom: 5%;
	// 	left: 50%;
	// 	transform: translateX(-50%);
	// 	a {
	// 		display: inline-block;
	// 		width: 10px;
	// 		height: 10px;
	// 		background: rgba(255, 255, 255, 0.5);
	// 		border-radius: 50%;
	// 		margin: 0 5px;
	// 		text-indent: -99999px;
	// 		color: transparent;
	// 		&.on {
	// 			background: #fff;
	// 		}
	// 	}
	// }

	.inner {
		.text {
			position: absolute;
			top: 30%;
			left: auto;
			z-index: 1;
			h2 {
				font-size: 16px;
				font-weight: bold;
				color: #fff;
				margin-bottom: 20px;
			}
			p {
				font-size: 80px;
				font-weight: bold;
				color: #fff;
				line-height: 1;
				margin-bottom: 20px;
			}
			.btn {
				@include button;
			}
		}
	}
}

#about {
	overflow: hidden;
	width: 100%;
	padding: 80px 0;
	&.show {
		.inner {
			.wrap {
				article {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
	.inner {
		.wrap {
			display: flex;
			justify-content: space-between;
			article {
				width: 280px;
				padding: 20px;
				text-align: center;
				opacity: 0;
				transform: translateY(-10%);
				transition: 0.5s;
				&:nth-of-type(1) {
					transition-delay: 0s;
				}
				&:nth-of-type(2) {
					transition-delay: 0.2s;
				}
				&:nth-of-type(3) {
					transition-delay: 0.4s;
				}
				&:nth-of-type(4) {
					transition-delay: 0.6s;
				}
				i {
					width: 80px;
					height: 80px;
					line-height: 80px;
					border-radius: 50%;
					background: #f5f5f5;
					color: #3c6ab0;
					font-size: 30px;
					margin-bottom: 30px;
				}
				h3 {
					font-size: 14px;
					margin-bottom: 20px;
				}
				p {
					font-size: 12px;
				}
			}
		}
	}
}

#company {
	overflow: hidden;
	width: 100%;
	padding: 80px 0;
	background: #f5f5f5;
	&.show {
		.inner {
			.text {
				transform: translateX(0%);
				opacity: 1;
			}
			.vid {
				transform: translateX(0%);
				opacity: 1;
			}
		}
	}
	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.text {
			width: 49%;
			transform: translateX(-10%);
			transition: 1s;
			opacity: 0;
			h2 {
				font-size: 20px;
				margin-bottom: 40px;
			}
			p {
				font-size: 12px;
				margin-bottom: 40px;
			}
			.btn {
				@include button;
			}
		}
		.vid {
			width: 49%;
			overflow: hidden;
			position: relative;
			transform: translateX(10%);
			transition: 1s;
			opacity: 0;
			video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.vidBtn {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: block;
				width: 80px;
				height: 80px;
				background: rgba(255, 255, 255, 1);
				border-radius: 50%;
				i {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 20px;
					color: #000;
					transition: 0.3s;
				}
				.fa-pause {
					opacity: 0;
				}
				&:hover {
					i {
						font-size: 24px;
					}
				}
				&.playing {
					opacity: 0;
					.fa-play {
						opacity: 0;
					}
					.fa-pause {
						opacity: 1;
					}
					&:hover {
						opacity: 1;
					}
				}
				&.pausing {
					opacity: 1;
					.fa-play {
						opacity: 1;
					}
					.fa-pause {
						opacity: 0;
					}
				}
			}
		}
	}
}

#work {
	overflow: hidden;
	padding: 80px 0;
	&.show {
		.inner {
			.wrap {
				article {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
	.inner {
		.wrap {
			display: flex;
			justify-content: space-between;
			article {
				position: relative;
				width: 380px;
				overflow: hidden;
				cursor: pointer;
				opacity: 0;
				transform: translateY(-10%);
				transition: 0.5s;
				&:nth-of-type(1) {
					transition-delay: 0s;
				}
				&:nth-of-type(2) {
					transition-delay: 0.2s;
				}
				&:nth-of-type(3) {
					transition-delay: 0.4s;
				}
				.pic {
					width: 100%;
					height: 245px;
					overflow: hidden;
					margin-bottom: 10px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transform: scale(1);
						transition: 0.5s;
					}
				}
				.text {
					padding: 10px;
					transition: 0.5s;
					h3 {
						font-size: 14px;
						margin-bottom: 20px;
					}
					p {
						font-size: 12px;
						line-height: 1.6;
						margin-bottom: 20px;
					}
					a {
						display: block;
						font-size: 12px;
						font-weight: bold;
						color: #4b84db;
					}
				}
				&::after {
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.1);
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					transition: 0.5s;
				}
				&:hover {
					box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
					&::after {
						opacity: 1;
					}
					.pic {
						img {
							transform: scale(1.05);
						}
					}
					.text {
						transform: scale(1.05);
					}
				}
			}
		}
	}
}

#news {
	overflow: hidden;
	padding: 80px 0;
	background: url(../img/news.jpg) no-repeat 50% 58% / cover;
	position: relative;
	&.show {
		.inner {
			.text {
				opacity: 1;
				transform: translateX(0%);
			}
			.chart {
				opacity: 1;
				transform: translateX(0%);
			}
		}
	}
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.text {
			width: 49%;
			position: relative;
			z-index: 2;
			opacity: 0;
			transform: translateX(-10%);
			transition: 0.5s;
			h2 {
				font-size: 20px;
				color: #fff;
				margin-bottom: 40px;
			}
			p {
				font-size: 12px;
				color: #fff;
				margin-bottom: 40px;
			}
			.btn {
				@include button;
			}
		}
		.chart {
			width: 49%;
			z-index: 2;
			opacity: 0;
			transform: translateX(10%);
			transition: 0.5s;
			p {
				font-size: 12px;
				font-weight: bold;
				color: #fff;
				margin-bottom: 30px;
				position: relative;
				span {
					float: right;
				}
				i {
					content: "";
					display: block;
					width: 100%;
					height: 10px;
					background: rgba(255, 255, 255, 0.5);
					position: absolute;
					top: 120%;
					left: 0;
				}
				b {
					content: "";
					display: block;
					height: 10px;
					background: #fff;
					position: absolute;
					top: 120%;
					left: 0;
				}
				&:nth-of-type(1) {
					b {
						width: 20%;
					}
				}
				&:nth-of-type(2) {
					b {
						width: 45%;
					}
				}
				&:nth-of-type(3) {
					b {
						width: 75%;
					}
				}
				&:nth-of-type(4) {
					b {
						width: 95%;
					}
				}
			}
		}
	}
}

#contact {
	padding: 80px 0;
	background: #f5f5f5;
	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.text {
			width: 30%;
			h2 {
				font-size: 20px;
				margin-bottom: 40px;
			}
			p {
				font-size: 12px;
				margin-bottom: 40px;
			}
			span {
				font-size: 14px;
				padding-right: 20px;
				b {
					margin-right: 5px;
				}
			}
		}
		form {
			width: 67%;
			fieldset {
				border: none;
				table {
					width: 100%;
					border-collapse: collapse;
					tr {
						text-align: left;
						th {
							width: 20%;
							padding: 5px 0;
							font-size: 16px;
							input[type="button"] {
								display: block;
								width: 100%;
								height: 35px;
								margin: 10px 0 0;
								border: 1px solid #333;
								background: #333;
								color: #fff;
								cursor: pointer;
								transition: 0.3s;
								&:hover {
									background: #fff;
									color: #333;
								}
							}
						}
						td {
							padding: 5px 0;
							font-weight: normal;
							label {
								margin-right: 20px;
								font-size: 16px;
								font-weight: bold;
								input[type="checkbox"] {
									margin-right: 10px;
								}
							}
							input[type="text"] {
								width: 100%;
								height: 40px;
								border: 1px solid #333;
							}
							textarea {
								resize: none;
								width: 100%;
								height: 15vh;
								border: 1px solid #333;
							}
						}
					}
				}
			}
		}
	}
}

#footer {
	position: relative;
	padding: 80px 0 135px;
	background: #111;
	.inner {
		display: flex;
		justify-content: space-between;
		.text {
			width: 30%;
			.footLogo {
				display: inline-block;
				width: 60px;
				height: 60px;
				background: #4b84db;
				text-align: center;
				font-size: 20px;
				font-weight: bold;
				line-height: 60px;
				color: #e1f9fe;
				margin-bottom: 30px;
			}
			p {
				font-size: 12px;
				color: #555;
				line-height: 1.6;
				margin-bottom: 30px;
			}
			.sns {
				display: flex;
				a {
					display: block;
					width: 50px;
					height: 50px;
					line-height: 50px;
					text-align: center;
					border-radius: 50%;
					background: #333;
					font-size: 16px;
					color: #fff;
					margin-right: 5px;
				}
			}
		}
		.link {
			width: 20%;
			p {
				font-size: 12px;
				color: #555;
				line-height: 1.6;
				margin-bottom: 20px;
				strong {
					display: block;
					font-size: 16px;
					color: #fff;
					margin-bottom: 20px;
				}
			}
			ul {
				li {
					margin-bottom: 10px;
					a {
						font-size: 12px;
						color: #fff;
					}
				}
			}
		}
	}
	.copy {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 85px;
		line-height: 85px;
		background: #333;
		text-align: center;
		color: #777;
	}
	.btnTop {
		display: block;
		position: absolute;
		bottom: 3%;
		right: 3%;
		width: 60px;
		height: 60px;
		border: 3px solid #fff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 20px;
		span {
			text-indent: -9999px;
			color: transparent;
			opacity: 0;
		}
		i {
			transition: 0.3s;
		}
		&:hover {
			i {
				transform: translateY(-15%);
			}
		}
	}
}

// tablet
@media screen and (max-width: $tablet) {
	#header {
		position: fixed;
		background: rgba(0, 0, 0, 0.4);
		z-index: 10;
		.inner {
			.menuWeb {
				display: none;
			}
			.menuMo {
				.btnCall {
					display: block;
				}
			}
		}
		#gnbMo {
			display: block;
		}
	}

	#visual {
		.inner {
			.text {
				left: 50%;
				transform: translateX(-50%);
				.btn {
					margin: 0 auto;
				}
			}
		}
	}

	#about {
		padding: 50px 0;
		.inner {
			.wrap {
				flex-wrap: wrap;
				article {
					width: 50%;
					i {
						width: 50px;
						height: 50px;
						line-height: 50px;
						font-size: 20px;
						margin-bottom: 20px;
					}
					h3 {
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	#company {
		.inner {
			.text {
				width: 49%;
			}
			.vid {
				width: 49%;
				height: 30vh;
			}
		}
	}

	#work {
		.inner {
			.wrap {
				flex-direction: column;
				article {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 20px;
					.pic {
						width: 49%;
						margin-bottom: 0;
					}
					.text {
						width: 49%;
					}
				}
			}
		}
	}

	#news {
		width: 100%;
	}

	#contact {
		.inner {
			.text {
				span {
					display: inline-block;
					b {
						display: block;
					}
				}
			}
			form {
				fieldset {
					table {
						tr {
							td {
								label {
									display: inline-block;
								}
							}
						}
					}
				}
			}
		}
	}
}

// mobile
@media screen and (max-width: $mobile) {
	#about {
		.inner {
			.wrap {
				flex-wrap: nowrap;
				article {
					h3 {
						font-size: 10px;
					}
					p {
						display: none;
					}
				}
			}
		}
	}

	#company {
		.inner {
			flex-direction: column-reverse;
			.text {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				width: 100%;
				margin-top: 40px;
				h2 {
					margin-bottom: 20px;
				}
				p {
					margin-bottom: 20px;
				}
			}
			.vid {
				width: 100%;
			}
		}
	}

	#work {
		.inner {
			.wrap {
				article {
					flex-direction: column;
					margin-bottom: 40px;
					.pic {
						width: 100%;
					}
					.text {
						width: 100%;
					}
				}
			}
		}
	}

	#news {
		.inner {
			flex-direction: column;
			.text {
				width: 100%;
				margin-bottom: 40px;
				h2 {
					margin-bottom: 20px;
				}
				p {
					margin-bottom: 20px;
				}
			}
			.chart {
				width: 100%;
			}
		}
	}

	#footer {
		.inner {
			flex-wrap: wrap;
			.text {
				width: 100%;
				.sns {
					position: absolute;
					top: 90px;
					right: 5%;
					a {
						margin-right: 0px;
						margin-left: 10px;
					}
				}
			}
			.link {
				width: calc((100% / 3) - 1%);
			}
		}
		.btnTop {
			bottom: 2%;
		}
	}
}
